html, body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #0e1525;
  font-family: Raleway;
}

h1, h2 {
  font-family: Josefin Sans;
  font-weight: extra-bold;
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 12px;
  background-color: #ffffff;
  padding: 20px;
}
img {
  background-color: #ffffff;
  padding: 20px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}